{% extends 'base_generic.html' %}

{% block sidebar %}
  {{ block.super }}

  {% if perms.catalog.change_author or perms.catalog.delete_author %}
  <hr>
  <ul class="sidebar-nav">
    {% if perms.catalog.change_author %}
      <li><a href="{% url 'author-update' author.id %}">Update author</a></li>
    {% endif %}
    {% if not author.book_set.all and perms.catalog.delete_author %}
      <li><a href="{% url 'author-delete' author.id %}">Delete author</a></li>
    {% endif %}
    </ul>
  {% endif %}

{% endblock %}
    

{% block content %}
    <h1>{{ author.first_name }} {{ author.last_name }}</h1>
    <ul>
        <li>First name: {{ author.first_name }}</li>
        <li>Last name: {{ author.last_name }}</li>
        {% if author.date_of_birth %}
            <li>Date of Birth: {{ author.date_of_birth }}</li>
        {% endif %}
        {% if author.date_of_death %}
            <li>Date of Death: {{ author.date_of_death }}</li>
        {% endif %}
    </ul>

    <h4>Books</h4>
    <hr/>
    {% for book in author.book_set.all %}
        <li><a href="{{ book.get_absolute_url }}">{{ book.title }}</a></li>
    {% endfor %}
{% endblock %}